$theme-colors: (
   'primary': #5CD000,
   'secondary': #E9E9E9,
  'info': #00F0FF,
  "warning": #EDFF1C,
  'danger': red
);


@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar{
    width: 270px;
}

.sidebar .navigation p {
  font-size: 12px;
}

.sidebar-content a{
  color: black !important;
}

.sidebar-content .navigation a:hover{
  background-color: #00F0FF;
}
.sidebar-content .navigation a.active{
    background-color: #00F0FF;

}





